<turbo-frame
  id="<%= dom_id(@card) %>"
  data-model="card"
  data-id="<%= @card.id %>"
>
  <div class="flex justify-between items-center px-3 border-b border-solid border-gray-100 dark:border-gray-700">
    <div class="flex-grow py-2">
      <div class="px-3 text-sm text-gray-500 dark:text-gray-400">
        <%= @card.front %>
      </div>
      <div class="px-3">
        <%= @card.back %>
      </div>
    </div>
    <div class="hidden md:flex justify-center items-center">
      <%= render UI::Atoms::IconLink.new(
        href: edit_polymorphic_path(@card),
        icon: :edit,
        color: :white,
        size: :sm,
        data: { turbo_frame: "#{dom_id(@card)}" }
      ) %>
    </div>
  </div>
</turbo-frame>
