<%= form_with(model: @model, class: "contents") do |form| %>
  <%= render Forms::ErrorNotice.new(model: @model) %>

  <% @fields.each_with_index do |field, i| %>
    <div class="mb-5">
      <%= form.label field[:name] unless field[:type] == :hidden %>
      <% if field[:type] == :text %>
        <%= form.text_field field[:name], autofocus: i == 0, class: "block shadow rounded-md outline-none px-3 py-2 mt-2 w-full" %>
      <% elsif field[:type] == :select %>
        <%= form.select field[:name],
          options_for_select(field[:options]),
          { autofocus: i == 0 },
          { class: "block shadow rounded-md outline-none px-3 py-2 mt-2 w-full" }
        %>
      <% elsif field[:type] == :rich_text %>
        <%= form.rich_text_area field[:name], autofocus: i == 0 %>
      <% elsif field[:type] == :hidden %>
        <%= form.hidden_field field[:name], value: field[:value] %>
      <% end %>
    </div>
  <% end %>

  <div class="flex justify-between items-center">
    <div class="flex gap-4">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-primary-600 text-white inline-block font-medium cursor-pointer" %>
      <% if @cancel_href.present? %>
        <%= render LinkButton.new(
            href: @cancel_href,
            label: "Cancel",
            color: :gray
          )
        %>
      <% end %>
    </div>
    <% if @delete_href.present? %>
      <%= render UI::Atoms::IconLink.new(
        href: @delete_href,
        icon: :trash,
        color: :gray,
        size: :sm,
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?",
          turbo_frame: "remote-modal"
        }
      ) %>
    <% end %>
  </div>
<% end %>