<%= form_with(model: @model, class: "contents") do |form| %>
  <%= render Forms::ErrorNotice.new(model: @model) %>

  <div class="flex justify-between gap-4 items-center w-full 3 border-t border-solid border-gray-100 dark:border-gray-600">
    <div class="<%= @css[:wrapper] %>">
      <% @fields.each_with_index do |field, i| %>
        <% if field[:type] == :hidden %>
          <%= form.hidden_field field[:name], value: field[:value] %>
        <% else %>
          <div class="<%= @css[:field] %>">
            <% if @direction == :col %>
              <%= form.label field[:name], class: "text-sm text-gray-500 dark-text-gray-300" %>
            <% end %>
            <% if field[:type] == :text %>
              <%= form.text_field field[:name], autofocus: i == 0, class: "shadow rounded-md px-3 py-1 w-full" %>
            <% elsif field[:type] == :select %>
              <%= form.select field[:name],
                options_for_select(field[:options]),
                { autofocus: i == 0 },
                { class: "shadow rounded-md px-3 py-1 w-full" }
              %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="flex-grow-0 <%= @css[:buttons] %>">
      <%= form.submit "Save", class: "py-1.5 px-3 text-sm font-normal rounded bg-primary-600 text-white inline-block font-medium cursor-pointer" %>
      <% if @delete_href.present? %>
        <%= render UI::Atoms::LinkButton.new(
          href: @delete_href,
          label: "Delete",
          color: :gray,
          size: :sm,
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?",
            turbo_frame: "#{dom_id(@model)}"
          }
        ) %>
      <% end %>
      <%= render UI::Atoms::LinkButton.new(
        href: @cancel_href,
        label: "Cancel",
        size: :sm,
        color: :gray
      ) %>
    </div>
  </div>
<% end %>
