<div data-deck-card-target="<%= @side %>" class="<%= @class_name %> flex flex-col h-full">
  <div class="flex-grow flex justify-center items-center text-center text-3xl font-semibold p-6">
    <%= content %>
  </div>
  <div class="grid grid-cols-2 gap-4 w-full p-4">
    <div>
      <%= button_left %>
    </div>
    <div>
      <%= button_right %>
    </div>
  </div>
</div>