<div class="" data-controller="deck">
  <% @deck.deck_cards.ordered.not_status_is_completed.each do |deck_card| %>
    <div
      id="<%= dom_id(deck_card) %>"
      data-id="<%= deck_card.id %>"
      data-deck-target="card"
      data-deck-status="<%= deck_card.status %>"
      hidden
    >
      <%= render Decks::CardSide.new(side: :front) do |component| %>
        <%= deck_card.card.front %>
        <% component.with_button_left do %>
          <%= render UI::Atoms::Button.new(
            action: "deck#turnCard",
            label: "Show",
            size: :lg,
            color: :red
          ) %>
        <% end %>
        <% component.with_button_right do %>
          <%= render UI::Atoms::Button.new(
            action: "deck#flashCard",
            label: "Next",
            size: :lg,
            color: :red
          ) %>
        <% end %>
      <% end %>
      <%= render Decks::CardSide.new(side: :back, hidden: true) do |component| %>
        <%= deck_card.card.back %>
        <% component.with_button_right do %>
          <%= render UI::Atoms::Button.new(
            action: "deck#nextCard",
            label: "Next",
            size: :lg,
            color: :red
          ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
