<div data-controller="modal">
  <%= trigger %>
  <dialog
    id="<%= @id %>"
    data-modal-target="modal"
    class="w-full max-w-xl mx-auto p-6 rounded-xl dark:bg-gray-800 dark:backdrop:bg-gray-900 backdrop:backdrop-blur-xl shadow-lg"
  >
    <div class="flex justify-between items-center">
      <h2>
        <%= @heading %>
      </h2>
      <button class="cursor-pointer" data-action="modal#close">
        <%= render partial: "shared/icon", locals: { name: 'x' } %>
      </button>
    </div>
    <%= content %>
  </dialog>
</div>