<div data-controller="tab-bar">
  <div class="sticky top-0 p-2 bg-gray-100 dark:bg-gray-900 rounded-lg w-fit">
    <nav class="flex" aria-label="Tabs">
      <% @tabs.each_with_index do |tab, i| %>
        <button
          data-tab-bar-target="tabs"
          data-action="tab-bar#onClickTab"
          data-tab-id="<%= tab %>"
          class="shrink-0 capitalize px-8 py-2 font-medium text-gray-500 <%= i == 0 ? 'bg-primary-600 text-white' : '' %>  rounded-lg"
        >
          <%= tab %>
        </button>
      <% end %>
    </nav>
  </div>
  <% sections.each_with_index do |section, i| %>
    <div
      class="<%= i == 0 ? '' : 'hidden' %> py-6"
      id="<%= @tabs[i] %>"
      data-tab-bar-target="sections"
      data-section-id="<%= @tabs[i] %>"
    >
      <%= section %>
    </div>
  <% end %>
</div>