<div
  class="md:py-4 border-sdf border-solid border-gray-200"
  data-id="<%= @exercise.id %>"
  data-model="exercise"
  data-controller="collapsible"
>
  <div class="flex justify-between items-center w-full">
    <h2>
      <%= @exercise.title %>
    </h2>
    <div class="flex">
      <%= render UI::Layout::Modal.new(
        model: @exercise,
        id: "#{dom_id(@exercise)}_edit_modal",
        heading: "Edit #{@exercise.type.humanize}: #{@exercise.title}"
      ) do |component| %>
        <% component.with_trigger do %>
          <%= render UI::Atoms::Button.new(
            action: "modal#open",
            icon: "edit",
            color: :white,
            size: :sm,
          ) %>
        <% end %>
        <%= render Forms::Form.new(
          model: @exercise,
          cancel_href: @exercise.lesson,
          delete_href: @exercise.becomes(Exercise),
          fields: [
            { name: :title, type: :text },
            @exercise.type == "Blurb" ? { name: :content, type: :rich_text } : nil
          ]
        ) %>
      <% end %>
      <%= render UI::Atoms::ReorderHandle.new %>
      <button data-action="collapsible#toggleOpen" data-collapsible-target="button" class="cursor-pointer rotate-180">
        <%= render partial: "shared/icon", locals: { name: 'chevron-down' } %>
      </button>
    </div>
  </div>
  <div data-collapsible-target="content">
    <% if @exercise.type == "WordList" %>
      <%= render Exercises::WordLists::WordListDetails.new(word_list: @exercise) %>
    <% elsif @exercise.type == "PhraseList" %>
      <%= render Exercises::PhraseLists::PhraseListDetails.new(phrase_list: @exercise) %>
    <% elsif @exercise.type == "Blurb" %>
      <%= render Exercises::Blurbs::BlurbDetails.new(blurb: @exercise) %>
    <% else %>
      <p class="my-5">
        GENERIC EXERCISE DETECTED!!
      </p>
    <% end %>
  </div>
</div>
