<div
  id="<%= dom_id(@exercise.becomes(Exercise)) %>"
  class="md:p-4 border-sdf border-solid border-gray-200"
  data-id="<%= @exercise.id %>"
  data-controller="collapsible"
>
  <div class="flex justify-between items-center w-full">
    <div>
      <div class="text-sm font-medium text-gray-400 dark:text-gray-400 decoration-white">
        <%= @exercise.type %>
      </div>
      <h2>
        <%= @exercise.title %>
      </h2>
    </div>
    <div class="flex">
      <%= render LinkButton.new(
        href: edit_polymorphic_path(@exercise),
        icon: :edit,
        color: :white,
        size: :sm,
        data: { turbo_frame: "#{dom_id(@exercise)}" }
      ) %>
      <button class="reorder-handle cursor-grab">
        <%= render partial: "shared/icon", locals: { name: 'chevron-up-down' } %>
      </button>
      <button data-action="click->collapsible#toggleOpen" data-collapsible-target="button" class="reorder-handle cursor-pointer rotate-180">
        <%= render partial: "shared/icon", locals: { name: 'chevron-down' } %>
      </button>
    </div>
  </div>
  <div data-collapsible-target="content">
    <% if @exercise.type == "WordList" %>
      <%= render Exercises::WordLists::WordListDetails.new(word_list: @exercise) %>
    <% elsif @exercise.type == "PhraseList" %>
      <%= render Exercises::PhraseLists::PhraseListDetails.new(phrase_list: @exercise) %>
    <% elsif @exercise.type == "Blurb" %>
      <%= render Exercises::Blurbs::BlurbDetails.new(blurb: @exercise) %>
    <% else %>
      <p class="my-5">
        GENERIC EXERCISE DETECTED!!
      </p>
    <% end %>
  </div>
</div>
