<main id="<%= dom_id @lesson %>" class="container mx-auto">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
        <%= notice %>
      </p>
    <% end %>

    <%= render LinkButton.new(
        href: lessons_path,
        color: :white,
        size: :sm
      )
    %>

    <div class="flex justify-between items-center w-full p-4 border-b border-solid border-gray-200">
      <h1>
        <div class="text-lg font-medium text-gray-400">
          Lesson
        </div>
        <%= @lesson.title %>
      </h1>
    </div>

    <div class="flex justify-between items-center w-full p-4 last:border-none border-b md:border-none border-solid border-gray-200 md:gap-y-6">
      <%= turbo_frame_tag "lesson_details", class: "flex w-full justify-between" do %>
        <h2>
          Intro
        </h2>
        <%= render LinkButton.new(
            href: edit_lesson_path(@lesson),
            icon: "edit",
            color: :white,
            size: :sm,
            data: { turbo_frame: "lesson_details" }
          )
        %>
      <% end %>
    </div>

    <%= turbo_frame_tag(
      "exercises_list_frame",
      data: { controller: "reorderable", reorderable_url: exercise_path(":id") }
    ) do %>
      <% @lesson.exercises.ordered.each do |exercise| %>
        <%= render "exercises/exercise", exercise: exercise %>
      <% end %>
    <% end %>

    <%= render "add_exercise_buttons", lesson: @lesson %>

  </div>
</div>
