<turbo-frame
  id="<%= dom_id(@word) %>"
  data-controller="word"
  data-id="<%= @word.id %>"
  class="flex justify-between items-center border-b last-of-type:border-none border-solid border-gray-100 dark:border-gray-600"
>
  <div class="flex w-full justify-between items-center">
    <div class="flex gap-2">
      <div class="w-36 py-2 px-3">
        <%= @word.word %>
      </div>
      <div class="w-36 py-2 px-3">
        <%= @word.translation %>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <%= render LinkButton.new(
        href: @word,
        icon: :trash,
        color: :white,
        size: :sm,
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?",
          turbo_frame: "#{dom_id(@word)}"
        }
      ) %>
      <button class="reorder-handle cursor-grab">
        <%= render partial: "shared/icon", locals: { name: 'chevron-up-down' } %>
      </button>
      <%= render LinkButton.new(
        href: edit_word_path(@word),
        icon: :edit,
        color: :white,
        size: :sm,
        data: { turbo_frame: "#{dom_id(@word)}" }
      ) %>
    </div>
  </div>
</turbo-frame>
