<%= form_with(model: @phrase, class: "contents") do |form| %>
  <%= render Forms::ErrorNotice.new(model: @phrase) %>

  <div class="flex justify-between items-center w-full border-b border-solid border-gray-200">
    <%= form.hidden_field :exercise_id, value: @phrase&.exercise_id || params[:exercise_id] %>

    <div class="flex-grow py-2">
      <div class="px-3 my-1">
        <%= form.label :phrase, class: "block text-sm text-gray-500" %>
        <%= form.text_field :phrase, autofocus: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-1 w-full" %>
      </div>
      <div class="px-3 my-1">
        <%= form.label :translation, class: "block text-sm text-gray-500" %>
        <%= form.text_field :translation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-1 w-full" %>
      </div>
    </div>

    <div class="flex-grow-0">
      <%= form.submit "Save", class: "" %>
      <%= render LinkButton.new(href: :back, label: "Cancel", size: :sm, color: :white) %>
    </div>
  </div>
<% end %>
