<%= turbo_frame_tag "#{dom_id(exercise_word)}" do %>
  <div id="<%= dom_id(exercise_word) %>" class="flex justify-between items-center border-b border-solid border-gray-200">
    <div class="flex gap-2">
      <div class="w-36 py-2 px-3"><%= exercise_word.translation %></div>
      <div class="w-36 py-2 px-3"><%= exercise_word.word %></div>
    </div>
    <div class="flex justify-center items-center">
      <%= render LinkButton.new(
        href: edit_exercise_word_path(exercise_word),
        icon: :edit,
        color: :white,
        size: :sm,
        data: { turbo_frame: "#{dom_id(exercise_word)}" }
      ) %>
      <%= render LinkButton.new(
        label: "Delete",
        href: exercise_word,
        color: :white,
        size: :sm,
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?",
          turbo_frame: "#{dom_id(exercise_word)}"
        }
      ) %>
      </div>
    </div>
<% end %>
