<%= form_with(model: exercise_word, class: "contents") do |form| %>
  <% if exercise_word.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(exercise_word.errors.count, "error") %> prohibited this exercise_word from being saved:</h2>

      <ul>
        <% exercise_word.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-between items-center border-b border-solid border-gray-200">
    <%= form.hidden_field :exercise_id, value: exercise_word&.exercise_id || params[:exercise_id] %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="w-36 py-1">
        <%= form.text_field :word, autofocus: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-1 w-full" %>
      </div>

      <div class="w-36 py-1">
        <%= form.text_field :translation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-1 w-full" %>
      </div>
    </div>

    <div class="flex-grow-0">
      <%= form.submit "Save", class: "" %>
      <%= render LinkButton.new(href: :back, label: "Cancel", size: :sm, color: :white) %>
    </div>
  </div>
<% end %>
