<!DOCTYPE html>
<html>
  <head>
    <title>
      IndoMee
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>

    <meta name="view-transition" content="same-origin" />
  </head>

  <body>
    <div class="max-w-5xl mx-auto my-6 lg:my-12 px-3 md:px-4">
      <%= render UI::Layout::Breadcrumbs.new(breadcrumbs: @breadcrumbs) %>
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
          <%= notice %>
        </p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
