<div class="hidden md:flex sticky bottom-0 gap-4 p-4 bg-white dark:bg-gray-700 rounded-lg shadow-md">
  <%= render UI::Layout::Modal.new(
    model: @lesson,
    id:  "#{dom_id(@lesson)}_new_phrase_list_modal",
    heading: "Add Phrase List"
  ) do |component| %>
    <% component.with_trigger do %>
      <%= render UI::Atoms::Button.new(action: "modal#open", label: "Add Phrase List") %>
    <% end %>
    <%= render Exercises::PhraseLists::PhraseListNew.new(phrase_list: PhraseList.new(lesson_id: @lesson.id)) %>
  <% end %>
  <%= render UI::Layout::Modal.new(
    model: @lesson,
    id: "#{dom_id(@lesson)}_new_word_list_modal",
    heading: "Add Word List"
  ) do |component| %>
    <% component.with_trigger do %>
      <%= render UI::Atoms::Button.new(action: "modal#open", label: "Add Word List") %>
    <% end %>
    <%= render Exercises::WordLists::WordListNew.new(word_list: WordList.new(lesson_id: @lesson.id)) %>
  <% end %>
  <%= render UI::Layout::Modal.new(
    model: @lesson,
    id: "#{dom_id(@lesson)}_new_blurb_modal",
    heading: "Add Blurb"
  ) do |component| %>
    <% component.with_trigger do %>
      <%= render UI::Atoms::Button.new(action: "modal#open", label: "Add Blurb") %>
    <% end %>
    <%= render Exercises::Blurbs::BlurbNew.new(blurb: Blurb.new(lesson_id: @lesson.id)) %>
  <% end %>
</div>
