<section class="md:p-4 border-b border-solid border-gray-200 md:border md:shadow-md md:rounded-md md:mb-6">
  <%= form_with(model: @lesson, class: "contents") do |form| %>
    <%= render Forms::ErrorNotice.new(model: @lesson) %>

    <div class="my-5">
      <%= form.label :title %>
      <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

    <%= render LinkButton.new(
        href: @lesson,
        label: "Cancel",
        color: :gray,
        data: { turbo_frame: "lesson_details" }
      )
    %>
  <% end %>
</section>
