<%= helpers.turbo_stream_from @lesson %>

<turbo-frame id="<%= dom_id(@lesson) %>_frame">
  <main id="<%= dom_id @lesson %>" class="container mx-auto">
    <%= render LinkButton.new(
        href: lessons_path,
        label: "#{@lesson.language.name} Journey",
        color: :white,
        size: :sm
      )
    %>
      <div class="flex justify-between items-center w-full py-4">
        <div>
          <div class="text-lg font-medium text-gray-400 dark:text-gray-500">
            <%= "Lesson ##{@lesson.position}" %>
          </div>
          <h1>
            <%= @lesson.title %>
          </h1>
        </div>
        <div data-controller="modal-form">
          <%= render UI::Atoms::Button.new(
            action: "modal-form#onOpen",
            icon: "edit",
            color: :white,
            size: :sm,
          ) %>
          <%= render UI::Layout::ModalForm.new(id: "#{dom_id(@lesson)}_modal_edit_form") do |component| %>
            <% component.with_heading do %>
              Edit <%= "#{@lesson.title}" %>
            <% end %>
            <%= render Lessons::LessonEdit.new(lesson: @lesson) %>
          <% end %>
        </div>
      </div>
    </turbo-frame>

    <%= render UI::Layout::TabBar.new(tabs: ["lesson", "practice"]) do |component| %>
      <% component.with_section do %>
        <turbo-frame
          id="exercises_list_frame"
          data-controller="reorderable"
          data-reorderable-url="<%= exercise_path(':id') %>"
        >
          <%= render Exercises::ExerciseDetails.with_collection(@lesson.exercises.ordered) %>
        </turbo-frame>
        <%= render Lessons::AddExerciseButtons.new lesson: @lesson %>
      <% end %>
      <% component.with_section do %>
        <%= render Cards::Translations::TranslationCardNew.new(lesson_id: @lesson.id) %>
        <div class="border border-solid border-gray-100 dark:border-gray-700 rounded-lg">
          <turbo-frame
            id="<%= dom_id(@lesson) %>_cards_list_frame"
            data-controller="reorderable"
            data-reorderable-url="<%= card_path(':id') %>"
          >
            <%= render Cards::CardListing.with_collection(@lesson.cards.ordered) %>
          </turbo-frame>
        </div>
      <% end %>
    <% end %>
  </main>
</turbo-frame>
