<div
  id="<%= dom_id(@lesson) %>"
  class="flex justify-between items-center p-4 last:border-none bg-white dark:bg-gray-700 border-b border-solid border-gray-100 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800"
  style="view-transition-name: <%= dom_id(@lesson) %>_heading"
  data-model="lesson"
  data-id="<%= @lesson.id %>"
>
  <%= link_to @lesson, class: "flex-grow", data: { turbo_visit_control: "reload" } do %>
    <div class="text-sm font-medium text-primary-600 dark:text-primary-300">
      <%= "Lesson #{@lesson.position}" %>
    </div>
    <div class="text-lg font-medium">
      <%= @lesson.title %>
    </div>
  <% end %>
  <div class="flex-grow-0 flex items-center">
    <%= render UI::Atoms::ReorderHandle.new %>
  </div>
</div>