<main id="<%= dom_id @lesson %>" class="container mx-auto">
  <turbo-frame id="<%= dom_id(@lesson) %>_frame" turbo-visit-control="reload">
    <%= helpers.turbo_stream_from @lesson %>

    <div class="grid grid-cols-4 gap-8">
      <div class="col-span-1">
        <div class="sticky top-4">
          <div class="w-full py-4">
            <div
              class="flex justify-between items-center"
              style="view-transition-name: <%= dom_id(@lesson) %>_heading"
            >
              <div class="w-full flex justify-between items-center">
                <div class="text-sm font-medium text-primary-600 dark:text-primary-300">
                  <%= "Lesson ##{@lesson.position}" %>
                </div>
                <div class="hidden md:flex">
                  <%= render UI::Layout::Modal.new(
                    id: "#{dom_id(@lesson)}_modal_edit_form",
                    model: @lesson,
                    heading: "Edit #{@lesson.title}"
                  ) do |component| %>
                    <% component.with_trigger do %>
                      <%= render UI::Atoms::IconButton.new(
                        action: "modal#open",
                        icon: :edit,
                        color: :gray,
                        size: :sm,
                      ) %>
                    <% end %>
                    <%= render Lessons::LessonEdit.new(lesson: @lesson) %>
                  <% end %>
                </div>
              </div>
            </div>
            <h1 class="text-lg text-gray-700">
              <%= @lesson.title %>
            </h1>
          </div>

          <div class="mb-6">
            <div class="mb-4 text-sm font-semibold text-gray-500">
              Lesson
            </div>
            <turbo-frame
              id="exercises_list_frame"
              data-controller="reorderable"
              data-reorderable-url="<%= exercise_path(':id') %>"
            >
              <% @lesson.exercises.ordered.each do |exercise| %>
                <div
                  class="reorder-handle text-gray-500 font-normal text-sm py-1 px-4 border-l border-solid border-gray-200 hover:border-primary-400 hover:text-primary-500 cursor-pointer "
                  id="<%= dom_id exercise %>"
                  data-id="<%= exercise.id %>"
                  data-model="exercise"
                >
                  <%= exercise.title %>
                </div>
              <% end %>
            </turbo-frame>
          </div>

          <div class="mb-4 text-sm font-semibold text-gray-500">
            Practice
          </div>
        </div>
      </div>
      <div class="col-span-3 flex flex-col gap-20">
        <section>
          <%= render Exercises::ExerciseDetails.with_collection(@lesson.exercises.ordered) %>
          <%= render Lessons::AddExerciseButtons.new lesson: @lesson %>
        </section>
        <section class="flex flex-col gap-12 bg-white dark:bg-gray-700 rounded-lg shadow-md mb-6 p-4">
          <%= render Cards::Translations::TranslationCardNew.new(lesson_id: @lesson.id) %>

          <div class="bg-white dark:bg-gray-700 border border-solid border-gray-100 dark:border-gray-700 rounded-lg">
            <turbo-frame
              id="<%= dom_id(@lesson) %>_cards_list_frame"
              data-controller="reorderable"
              data-reorderable-url="<%= card_path(':id') %>"
            >
              <%= render Cards::CardListing.with_collection(@lesson.cards.ordered) %>
            </turbo-frame>
          </div>
        </section>
      </div>
    </div>
  </turbo-frame>
</main>
